/* 0. Breakpoints ==================================== */
$bp-tablet: 760px;
$bp-desktop: 1020px;
$bp-xl: 1640px;

/* 1. Colors ========================================= */
$primary-color: #fff;
$secondary-color: #000;
$primary-text: #000;
$secondary-text: #fff;
$para-text: #A0A0A0;

/* 2. Fonts  ========================================= */
$hFont: "Spartan", sans-serif;
$sizeReg: 400;
$medBold: 500;
$semiBold: 600;
$bold: 700;
$extraBold: 800;
